.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 540px;
    background-color: #314e59;
    gap: 35px;

    &-item {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        color: #F2F4EA;
        font: normal 24px 'Roboto';

        & .title {
            font: normal 48px 'Nunito';
        }

        &.first {
            margin-bottom: 25px;
        }

    }

    &-address {
        max-width: 365px;
        line-height: 40px;
    }
}


@media (max-width: 576px) {
    .footer {
        // display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 150px;
        border-top-left-radius: 115px;
        border-top-right-radius: 115px;
        gap: 14px 32px;

        &-item {
            gap: 14px 32px;
            justify-content: center;
            align-items: center;
            color: #F2F4EA;
            font: normal 24px 'Roboto';

            & .title {
                font-size: 20px;
            }

            &.first {
                flex-basis: 100%;
                margin-bottom: 0px;
                gap: 12px;

                img {
                    width: 48px;
                    height: auto;
                    order: 1;
                }
            }
        }

        &-address {
            display: none;
        }

        &-phone {
            display: none;
        }

        & :nth-child(2) {
            order: 1;
        }

        & :nth-child(3) {
            order: 2;
        }

        & :nth-child(4) {
            order: 3;
        }

        & :nth-child(1) {
            order: 4;
        }

        & :last-child {
            & :first-child {
                order: 1;
            }
        }
    }
}