$nav-height-largest: 120px;
$nav-height-large: 100px;
$nav-height-medium: 90px;
$nav-height-small: 84px;

$indent-extra-extra-large: 216px;
$indent-extra-large: 196px;
$indent-large: 160px;
$indent-medium: 120px;
$indent-x-medium: 90px;
$indent-small: 60px;
$indent-x-small: 30px;

$nav-area-width: 66px;
